@import "~bootstrap/scss/bootstrap";

.__main {
    background-color: #1c1c1c;
    padding-bottom: 80px;

    .__main-top-bg {
        background-image: url(../img/jumbotron.jpg);
        height: 400px;
        position: relative;
        .__current-series {
            background-color: #0282f9;
            position: absolute;
            bottom: -20px;

            padding: 5px 10px 5px 10px;
        }
    }
    .__card-ctn {
        gap: 15px;

        .__card {
            width: calc(100% / 6 * 1 - (15px / 6 * 5));
            min-width: 150px;
            background-color: #1c1c1c;

            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.__footer-ctn {
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    ul {
        min-width: 150px;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: #898989;
            }
        }
        .__shop {
            margin-top: -120px;
        }
    }
}
